# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
build/
target/
out/

# Cangjie specific
*.cjo
.cjpm/

# IDE and Editor files
.settings/
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.dll
*.so
*.dylib

# Logs
*.log
